html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.scrolling-wrapper {
    margin: 0px 50px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

    /* -webkit-scrollbar {
        display: none; */

}

.card {
    flex: 0 0 auto;
    width: 100%;
}

.panel-blue {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#skillscontainer {
    flex-direction: column;
}

#skillsrow {
    margin-top: 20px;
}

#skillscolumn {
    text-align: center;
}

/* 
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
        display: inline-block;
    }
} */