/* Colour scheme */
/* orange: #ffae01 */
/* background #f2e2c8 */



html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: #f2e2c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar {
    margin-top: 30px;
    width: 80%;
    background-color: "blue";
    z-index: 1000;
}



.scrolling-wrapper {
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 80%;
    height: 500px;
    z-index: 500;
    /* -webkit-scrollbar {
        display: none; */

}

.card {
    flex: 0 0 auto;
    width: 100%;
    background-color: #ffae01;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

}

/* .col {
    padding-right: 0;
    padding-left: 0;
} */


.panel-blue {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


#landing-image-col {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}




#skillscontainer {
    flex-direction: column;
}

#skillsrow {
    margin-top: 20px;
}

#skillscolumn {
    text-align: center;
}

#portfolioimage {
    width: 40%;
    Height: auto;
    /* width: 90px;
    height: 90px; */
    margin: auto;
    display: block;
}

.portfoliocard {
    flex: 0 0 auto;
    width: 100%;
}

.overflowY {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300;
}