/* Colour scheme */
/* orange: #ffae01 */
/* background #f2e2c8 */

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerfont {
    font-family: "Open Sans", sans-serif;
}

.smallbannerfont {
    font-family: "Open Sans", sans-serif;
    text-size-adjust: 16px;
    line-height: 60%;
    color: azure;
    margin-top: 5px;
}

#Form-email5 {
    color: black;
}

.scrolling-wrapper {
    position: absolute;
    top: 0;
    margin-top: 85px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 68%;
    height: 500px;
    /* -webkit-scrollbar {
        display: none; */
    scroll-snap-type: x mandatory;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    flex: 0 0 auto;
    width: 100%;
    background-color: #ffae01;
    border-radius: 0;
    scroll-snap-align: start;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

#landingtext {
    padding: 60px;
}

#landingparagraph {
    font-size: 13px;
    margin-top: 35px;
}

.portfoliocard {
    flex: 0 0 auto;
    width: 100%;
}

.portfolioimage {
    width: 100%;
    Height: auto;
    border-radius: 25px;
    margin: auto;
    display: block;
}

.portfolioname {
    font-size: 18px;
    font-weight: 600;
}

#portfoliocode {
    font-family: "Open Sans", sans-serif;
    text-size-adjust: 13px;
    line-height: 0%;
    color: rgb(58, 61, 61);
    /* padding: 0 100px 0 100px; */

}

#portfolioparagraph {
    padding: 25px;
}

#portfoliobody {
    font-size: 14px;
}

.panel {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


#landing-image-col {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.logos {
    width: auto;
    height: 90px;
    margin: 20px;
}

.portfoliopics {
    width: 250px;
    height: auto;
    margin: 20px;
}

#portfoliorow {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: column wrap;
}

#skillscolumn {
    text-align: center;
    margin-top: 25px;
}

.overflowY {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300;
}

@media (min-width: 1200px) {
    .main-image-container {
        display: default;
    }

    #map {
        display: default;
    }
}

@media (max-width: 992px) and (min-width: 769px) {
    .main-image-container {
        display: none;
    }

    #map {
        display: none;
    }
}

@media (max-width: 768px) and (min-width: 577px) {
    .main-image-container {
        display: none;
    }

    #map {
        display: none;
    }
}

@media (max-width: 576px) {
    .main-image-container {
        display: none;
    }

    #map {
        display: none;
    }
}