/* Colour scheme */
/* orange: #ffae01 */
/* background #f2e2c8 */



html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerfont {
    font-family: "Open Sans", sans-serif;
}

.smallbannerfont {
    font-family: "Open Sans", sans-serif;
    text-size-adjust: 16px;
    line-height: 60%;
    color: azure;
    margin-top: 5px;
}

.navbar-wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    height: 75px;
}

.navbar {
    margin-top: 30px;
    width: 68%;
}

.navbar-custom {
    background-color: #ffae01;
}

.navbar-custom .navbar-nav .nav-link {
    color: azure;
}

.navbrand {
    color: black;
    font-weight: 600;

}

.scrolling-wrapper {
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    width: 68%;
    height: 500px;
    /* -webkit-scrollbar {
        display: none; */
}

.card {
    flex: 0 0 auto;
    width: 100%;
    background-color: #ffae01;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

#landingtext {
    padding: 60px;
}

#landingparagraph {
    font-size: 13px;
    margin-top: 35px;
}

.portfoliocard {
    flex: 0 0 auto;
    width: 100%;
}

.portfolioimage {
    width: 50%;
    Height: auto;
    border-radius: 25px;
    margin: auto;
    display: block;
}

.portfolioname {
    font-size: 18px;
    font-weight: 600;
}

#portfoliocode {
    font-family: "Open Sans", sans-serif;
    text-size-adjust: 13px;
    line-height: 0%;
    color: rgb(58, 61, 61);
    /* margin-top: 10px; */

}

#portfolioparagraph {
    padding: 25px;
}

#portfoliobody {
    font-size: 14px;
}

.panel-blue {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


#landing-image-col {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#skillscontainer {
    flex-direction: column;
}

#skillsrow {
    margin-top: 20px;
}

#skillscolumn {
    text-align: center;
    margin-top: 25px;
}

.overflowY {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300;
}